$canvas-width: 600px
$canvas-height: 480px
$canvas-border: 1px solid #ddd
//-------------------------------------------------------------------------------------------------
// MIXINS
//-------------------------------------------------------------------------------------------------
=transition($property, $duration, $function, $delay)
  -webkit-transition: $property $duration $function $delay
  -moz-transition: $property $duration $function $delay
  -o-transition: $property $duration $function $delay
  transition: $property $duration $function $delay
//-------------------------------------------------------------------------------------------------
// MAIN STYLES
//-------------------------------------------------------------------------------------------------
.canvas-container
  width: ceil($canvas-width*3/2)
  height: $canvas-height
  margin: auto
  position: relative

#main-canvas,
.tree-controls
  position: absolute

#main-canvas
  border: $canvas-border
  width: $canvas-width
  height: $canvas-height
  top: 0
  left: 0
  cursor: all-scroll

.tree-controls
  width: floor($canvas-width/2)
  height: $canvas-height
  left: $canvas-width
  top: 0

  padding: 10px
  box-sizing: border-box

  h2
    margin: .25rem 0 .25rem 0

label,
input[type="text"],
select,
  display: block

input[type="number"],
button
  display: inline-block

label
  margin: 1em 0 .25em 0
